---
import '../styles/global.css';
import YouTubeForm from '../components/YouTubeForm.astro';
---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>YouTube to MP3</title>
</head>
<body>
    <div class="main-content">
        <div class="container main-app">
            <h1>YouTube to MP3</h1>
            <YouTubeForm />
        </div>
    </div>
</body>
</html>
